

  <div class="container">
  <table class="table table-hover text-left">
    <tr>
      <th class="col-sm-3">Product Number</th>
      <th class="col-sm-3">Name</th>
      <th class="col-sm-3">Price</th>
      <th class="col-sm-3"></th>
      <th class="col-sm-3"></th>
      
    </tr>
    <tr *ngFor = "let key of productsKey">
     
      <td class="col-sm-3">{{key}}</td>
      <td class="col-sm-3">{{products[key].name}}</td>
      <td class="col-sm-3">{{products[key].price}}</td>
      <td><button class="btn btn-danger" (click)="deleteUser(key)">Delete</button></td>
      <td><button class="btn btn-info" [routerLink] = "['/edit-product', key]">Edit</button></td>
    </tr>
    </table>
  </div>